<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smsgt.mobile.application.supertsuper_v3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <supports-screens android:anyDensity="true" 
        			  android:smallScreens="true" 
        			  android:normalScreens="true"
        			  android:largeScreens="true" 
        			  android:xlargeScreens="true" 
        			  android:resizeable="true" 
        			  />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/FullscreenTheme">
        <activity
            android:name="com.smsgt.mobile.application.supertsuper_v3.activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme"
            android:largeHeap="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Dont forget to include other classes here -->        
        <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.DriveActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:theme="@style/FullscreenTheme"
    		android:largeHeap="true" />
        
<!--         <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.TrafficProfilePopUpActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:theme="@style/DialogCustomTheme"/> -->
        
         <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.UserRegistrationActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
        	android:windowSoftInputMode="stateVisible|adjustResize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/>
                
<!--          <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.VehicleSelectionActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/> -->
         
         <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.UserAchievementsActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/>

        <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.UserProfileActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/>
        
        <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.UserRewardsActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/>        
       
        <activity android:name = "com.smsgt.mobile.application.supertsuper_v3.activities.UserLoginActivity" 
        	android:configChanges="orientation|keyboardHidden|screenSize"
    		android:screenOrientation="portrait"
    		android:largeHeap="true" 
    		android:theme="@style/FullscreenTheme"/>  
        
    </application>

</manifest>